.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #2c2c2c;
  border-radius: 12px;
  padding: 2rem;
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.modal h2 {
  margin-bottom: 0.2rem;
}

.modal-actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.confirm-delete-button {
  background: #561717;
  color: #F87C6F;
  border: #F87C6F 2px solid;
}
