.logo,
.colorLink {
  color: whitesmoke;
}

.botaoLink {
  border: solid 3px;
  border-color: rgb(54, 54, 54);
  background-color: rgb(54, 54, 54);
  color:whitesmoke;
}

.header {
  margin-bottom: 40px;
  background-color: rgb(54, 54, 54);
}

.headerContent {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.categorias-header {
  display: flex;
  gap: 14px;
  justify-content: center;
  flex-wrap:wrap ;
  align-items: center;
  width: 100%;
}

.botaoNovoProduto {
  height: 45px;
  width: 170px;
  background-color: rgb(28, 235, 90);
  border-radius: 4px;
}

.filtragem {
  display: flex;
  flex: auto;
  position: absolute;
  margin-left: 45px;
}

.estoque {
  border-radius: 10px;
  border: solid;
  margin-left: 10px;
}

.genero {
  border: solid;
  border-radius: 10px;
}

/*responsividade*/
@media (max-width: 562px){
.header {
  margin-bottom: 40px;
}

.headerContent {
  display:flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}

body {
  width: max-content;
}

.categorias-header {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  flex-wrap:wrap ;
  align-items: center;
  width: 100%;
}


}