.products-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
  justify-content: center;
  gap: 3rem 2rem;
  margin-bottom: 80px;
}
