form {
  font-family: "Inter", sans-serif;
  width: 603px;
  margin: auto;
  padding-bottom: 120px;
}

label {
  font-weight: bold;
  font-size: 1.1rem;
  padding-top: 12px;
}

form button {
  border-radius: 3px;
  line-height: 50%;
  text-align: center;
  background-color: #3ab667;
  margin-top: 12px;
  height: 30px;
}

form input,
textarea,
select,
input:focus, input {
  font-size: 0.9rem;
  outline: none;
  color: #ffffff;
  border: 2px solid #444444;
  background-color: #2c2c2c;
  height: 35px;
  padding-left: 10px;
}

textarea {
  padding-top: 10px;
  height: 99px;
}
